body {
    background-color: #000429; /* Fundo escuro */
    color: white; /* Texto branco */
    font-family: "Bai Jamjuree", sans-serif; /* Fonte escolhida */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Altura total da tela */
    margin: 0;
}

button {
    background-color: #FFD700; /* Dourado para os botões */
    color: black; /* Texto preto nos botões */
    font-family: "Bai Jamjuree", sans-serif;
    border: none; /* Remove bordas padrão */
    border-radius: 5px; /* Arredonda os cantos */
    padding: 10px 20px; /* Espaçamento interno */
    cursor: pointer; /* Muda o cursor para indicar que é clicável */
    transition: background-color 0.3s; /* Transição suave para a cor de fundo */
}

button:hover {
    background-color: #64A712; /* Verde quando o mouse passa por cima */
}

.passo {
    display: none; /* Esconde todos os passos inicialmente */
}

.passo.ativo {
    display: block; /* Mostra o passo ativo */
}

main {
    text-align: center; /* Centraliza o texto */
    max-width: 90%; /* Limita a largura do conteúdo */
    background-color: rgba(0, 0, 0, 0.8); /* Fundo escuro e transparente */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Cantos arredondados */
    border: 2px solid #007BFF; /* Azul como borda */
}

h1, h2, h3, h4, h5, h6 {
    color: #007BFF; /* Títulos em azul */
}

img {
    max-width: 90%; /* Limita a largura das imagens */
    border-radius: 8px; /* Arredonda as bordas das imagens */
}
